@model SystemeNote.Utils.PaginatedList<SystemeNote.Models.PlanifSemestre>
@{
    ViewData["Title"] = "Planifications des semestres";
}
<h1>Planifications des semestres</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color mb-3">
        <p>
            Rechercher par nom: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-dark btn-sm" /> |
            <a asp-action="Index">Retour à la liste complète</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    planif
                </a>
            </th>
            <th>
                date début
            </th>
            <th>
                date fin
            </th>
            <th>
                Semestre
            </th>
            <th>
                Promotion
            </th>
            <th>
                Option d'étude
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Ranking" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.NomPlanifSemestre)
                    </a>
                </td>
                <td>
                    @item.DateDebut.ToShortDateString()
                </td>
                <td>
                    @item.DateFin.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semestre!.NomSemestre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Promotion!.NomPromotion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionEtude!.NomOptionEtude)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex - 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default @prevDisabled">
    Précédent
</a>
<a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex + 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default @nextDisabled">
    Suivant
</a>