@model IEnumerable<SystemeNote.Models.Matiere>
@{
    ViewData["Title"] = "Matieres";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <a asp-controller="Upload" asp-action="UploadMatieres" class="btn btn-secondary">Import Matieres</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomMatiere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeMatiere)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomMatiere)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeMatiere)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>