@model SystemeNote.Models.Promotion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Promotion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPromotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPromotion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodePromotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodePromotion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diplome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diplome.NomDiplome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
