@model IEnumerable<SystemeNote.Models.Promotion>

@{
    ViewData["Title"] = "Index";
}

<h4>@ViewData["title"]</h4>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <a asp-action="Upload" class="btn btn-secondary">Import Promotions</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Promotions" name="searchString"
                    value="@ViewData["CurrentFilter"]" />
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </form>
    </div>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomPromotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodePromotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diplome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomPromotion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodePromotion)
                </td>
                <td>
                    @if (item.Diplome != null)
                    {
                        @Html.DisplayFor(modelItem => item.Diplome.NomDiplome)
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>