@model SystemeNote.Models.Etudiant

@{
    ViewData["Title"] = "Détails de l'étudiant";
}

<h1>Details</h1>

<div>
    <h4>Etudiant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matricule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matricule)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActif)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdmission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAdmission)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promotion!.NomPromotion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlanifSemestre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlanifSemestre!.NomPlanifSemestre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrateur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrateur!.NomAdmin)
        </dd>
    </dl>
</div>
<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>