@model SystemeNote.Utils.PaginatedList<SystemeNote.Models.Etudiant>

@{
    ViewData["Title"] = "Student List";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <a asp-controller="Upload" asp-action="UploadStudents" class="btn btn-secondary">Import Students</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name, firstname or matricule:
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-dark btn-sm" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]"> Nom</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParm"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]">Prenom</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["MatriculeSortParm"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]">Matricule</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PromotionSortParm"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]">Promotion</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="AcademicRecord" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Nom)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricule)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Promotion!.NomPromotion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-default @nextDisabled">
    Next
</a>